@model PatatzaakSoftwareMVC.Models.ViewModels.CompanyPageViewModel;

@{
    ViewData["Title"] = "Company";
    var placedOrders = Model.GetPlacedOrders();
    var readyOrders = Model.GetReadyOrders();
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Orders</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <!-- Placed Orders -->
        <div class="col-md-7 border-right">
            <div class="header-label">Placed Orders</div>
            <div id="orderList" class="d-flex justify-content-center flex-wrap">
                @if (placedOrders != null)
                {
                    @foreach (Order order in placedOrders)
                    {
                        <div class="col-md-3 text-center itemCol p-2">
                            <div class="dropdown" onmouseover="showDropdown('@order.Id')" onmouseout="hideDropdown('@order.Id')">
                                <button class="btn order-btn" onclick="ReadyOrder('@order.Id')">@order.Id</button>
                                <div id="dropdownContent-@order.Id" class="dropdown-content">
                                    <p style="color: black; font-weight: bold;">Order ID: @order.Id</p>
                                    @foreach (var item in Model.GetItemsForOrder(@order.Id))
                                    {
                                        <p style="color: black">@item.Name - &#8364 @item.Price</p>
                                    }
                                    <p style="color: black; font-weight: bold;">Total Price: &#8364 @order.TotalPrice</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        
        <!-- Ready Orders -->
        <div class="col-md-5">
            <div class="header-label">Ready Orders</div>
            <div id="orderList" class="d-flex justify-content-center flex-wrap">
                @if (readyOrders != null)
                {
                    @foreach (Order order in readyOrders)
                    {
                        <div class="col-md-5 text-center itemCol p-3">
                            <div class="dropdown" onmouseover="showDropdown('@order.Id')" onmouseout="hideDropdown('@order.Id')">
                                <button class="btn order-btn" onclick="CompleteOrder('@order.Id')">@order.Id</button>
                                <div id="dropdownContent-@order.Id" class="dropdown-content">
                                    <p style="color: black; font-weight: bold;">Order ID: @order.Id</p>
                                  
                                    @foreach (var item in Model.GetItemsForOrder(@order.Id))
                                    {
                                        <p style="color: black">@item.Name - &#8364 @item.Price</p>
                                    }
                                    <p style="color: black; font-weight: bold;">Total Price: &#8364 @order.TotalPrice</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
