@model List<Item>

@{
    ViewData["Title"] = "Item Object Data";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Item Object Data</title>
</head>
<body>
    <h1>Item Object Data</h1>

    <div class="item-list">
        @foreach (var item in Model)
        {
            <div class="item-row">

                <div class="col">
                    <p>@item.Id</p>
                </div>
                <div class="col">
                    <p>@item.Name</p>
                </div>
                <div class="col">
                    <p>@item.ImagePath</p>
                </div>
                <div class="col">
                    <p>@item.Price</p>
                </div>
                <div class="col">
                    <p>@item.Discount</p>
                </div>
            </div>
        }
    </div>
</body>
</html>