@model Item
@{
    ViewData["Title"] = "Customer Page";
    List<Item> items = Model.LoadItemsObject();
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" />
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/mainStyle.css" />
    <script src="../js/site.js"></script>
    <title>Customer page</title>
</head>
<body>
    <div class="container-fluid vh-100">
        <div class="row">

            <div class="col-md-8">
                <div class="container-fluid border-sect vh-100" id="menuColumn">
               
            <!--menu part-->
                @if (items.Count() > 0)
                {
                    @for (int i = 0; i < items.Count(); i++)
                    {
                        <div class="col-md-3 text-center itemCol p-5" style="display: inline-block;">
                            <img id="itemImage" src="@items[i].ImagePath" class="mw-100 h-auto">
                            <a class="btn" onclick="addToReceipt('@items[i].Name', '@items[i].Price')">@items[i].Name @items[i].Price</a>
                        </div>
                    }
                }
                @if (items.Count() == 0)
                {
                    <div>
                        <label>Geen items gevonden</label>
                    </div>
                }
                </div>
            </div>
            <!--receipt part-->
            <div class="col-md-4 receiptPart" >



                <div id="receipt" class="container-fluid border-sect">
                    <span id="dummySpan">nog geen items in bestelling</span>
                </div>

                <div class="container-fluid p-5 text-center">
                    <a class="btn order-button">Bestel selectie</a>
                </div>
                <button onclick="CreateMenuItem()">button to add</button> <!--THIS IS A TEST BUTTON, THE PAGE SHOULD LOAD IN ALL ITEMS WHEN LOADING IN-->
                <!--Make this invisible until the order is placed-->
                <div class="container-fluid p-5 text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../Resources/Images/Checkmark.png" class="mw-100 h-auto">
                        </div>
                        <div class="col-md-9">
                            <p>Bestelling is geplaatst</p>
                            <p1>Nummer: </p1>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <a asp-area="" asp-controller="Navigation" asp-action="CRUDItemPage" class="btn">CRUDItemPage</a>
</body>

</html>