@using Newtonsoft.Json;
@using PatatzaakSoftwareMVC.Models.ViewModels
@model CustomerPageViewModel
@{
    /* Get the current user to make the order for */
    int sessionUserId = 0;
    var sessionUserJson = Context.Session.GetString("User");

    if (sessionUserJson != null)
    {
        var user = JsonConvert.DeserializeObject<User>(sessionUserJson);
        sessionUserId = user.Id;
    }
    var sessionOrder = Model.CreateOrderObject(sessionUserId);
    var userVoucherList = ViewData["UserVoucherList"] as SelectList;

     /*  this order object will have its Id passed to JS returning in the Controller with AJAX, then the controller will add the items to that orderId */
}
<html>                                                                                                      
<body>
    <div class="container-fluid vh-80">
        <div class="row">
            <div class="col-md-8">
                <div class="container-fluid border-sect vh-80" id="menuColumn">
                    <!--menu part-->
                    @if (ViewBag.Items != null && ViewBag.Items.Count > 0)
                    {
                        @foreach (var item in ViewBag.Items)
                        {
                            <div class="col-md-3 text-center itemCol p-4" style="display: inline-block;">
                                <img id="itemImage" src="@item.ImagePath" class="mw-100 h-auto">
                                <div class="btn" onclick="addToReceipt('@item.Name', '@item.Price', '@item.Discount', '@item.Id', '@sessionOrder.Id');">@item.Name - &#8364; @(item.Price - (item.Price * (item.Discount / 100)))</div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <label>Geen items gevonden</label>
                        </div>
                    }
                </div>
            </div>
            <!--receipt part-->
            <div class="col-md-4 receiptPart">
                <div id="receipt" class="container-fluid border-sect">
                    <span id="dummySpan">nog geen items in bestelling</span>
                </div>
                <hr />
                <div >
                    <span>Totaal:</span>
                    <span id="totalPrice"></span>
                </div>
                <hr />
                <select asp-for="SelectedVoucherId" asp-items="userVoucherList" class="form-control" id="voucherDropdown">
                    <option value="">Select a voucher</option>
                </select>
                <div class="col">
                    <div class="btn" Id="placeOrderButton" onclick="ClearOrderButtonClicked('@sessionOrder.Id');">Leeg order</div>
                </div>
                <div class="col">
                    <div class="btn" Id="placeOrderButton" onclick="PlaceOrderButtonClicked('@sessionOrder.Id');">Place Order</div>
                </div>
                <div id="messageDiv" >
                    <span id="succesMessageSpan" >Order placed! Number: @sessionOrder.Id</span>
                    <br>
                    <img id="checkMark" src="~/Resources/Images/Checkmark.png"  alt="Checkmark" />
                </div>

            </div>
        </div>
    </div>
</body>
</html>
