@model PatatzaakSoftwareMVC.Models.ViewModels.OrderHistoryViewModel
@{
	List<Order> orderList = ViewBag.Orders;
}


<div>
    <h3 class="text-center">Order history, click on order to re-order them</h3>
    <hr />
</div>
<div class="row justify-content-center">
    @foreach (Order order in orderList)
    {
        <div class="col-md-2 text-center itemCol p-2" style="display:inline-block">
            <div class="dropdown" onmouseover="showDropdown('@order.Id')" onmouseout="hideDropdown('@order.Id')">
                <button class="btn order-btn" onclick="RevertToPlaced('@order.Id')">@order.Id</button>
                <div id="dropdownContent-@order.Id" class="dropdown-content">
                    <p id="companyPageP">Order ID: @order.Id</p>

                    @foreach (var item in Model.GetItemsForOrder(@order.Id))
                    {
                        <p id="dropdownP">@item.Name - &#8364; @(item.Price - (item.Price * (item.Discount / 100)))</p>
                    }
                    <p id="companyPageP">Total Price: &#8364 @order.TotalPrice</p>
                </div>
            </div>
        </div>
    }
</div>